@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



/* src/App.css */
.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f4f4f4;
}

header img {
  width: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

#about {
  padding: 2rem;
}

#quick-links {
  padding: 2rem;
}

#quick-links ul {
  list-style: none;
  padding: 0;
}

#quick-links li {
  margin: 10px 0;
}

